html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body,
html,
p {
  margin: 0;
}

body {
  background: linear-gradient(to bottom, rgba(203, 203, 203, 0.56), white);
}

ul {
  padding-left: 0;
  list-style: none;
}
/* -----------------------------------------------
  HEADER
----------------------------------------------- */
header {
  box-shadow: 0 5px 5px rgba(108, 108, 108, 0.39);
  background: white;
}

header h2 {
  color: rgb(12, 76, 233);
}

.header {
  max-width: 70%;
  margin: auto;
}

.liste_navigation {
  display: flex;
}

.liste_navigation a {
  padding: 10px;
  border-left: 1px solid black;
  text-decoration: none;
  color: black;
}

.liste_navigation a:last-child {
  border-right: 1px solid black;
}
/* -----------------------------------------------
  WRAPPER
----------------------------------------------- */
.wrapper {
  max-width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
/* -----------------------------------------------
  Aside
----------------------------------------------- */
aside {
  width: 20%;
  margin-right: 50px;
}

aside div {
  border: 1px solid black;
  padding: 5px 10px 10px;
  margin-bottom: 10px;
  border-radius: 0 25px;
  background: white;
}

.photo {
  width: 75%;
  display: block;
  margin: auto auto 10px;
  border: 1px solid black;
  border-radius: 0 25px;
}
/* Partie Mes liens */
.liens ul {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.listeLiens li {
  text-align: center;
}

.icone {
  font-size: 2em;
  color: black;
  padding: 5px 10px;
  border: none;
}
/* Partie Contact */
.listeContact li {
  text-align: center;
}

.contact ul {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.iconeContact {
  font-size: 3em;
  padding: 5px 20px;
}
/* -----------------------------------------------
  MAIN
----------------------------------------------- */
main {
  width: 70%;
  border: 1px solid black;
  display: flex;
  background: white;
  border-radius: 0 25px;
}

main h2 {
  margin-bottom: 10px;
}

article h3 {
  color: rgb(12, 76, 233);
}

article {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 0 25px;
}

.conteneur {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.experiences,
.formations {
  padding: 10px;
}

.competences {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
